<div class="row">
  <div class="col-sm-6 col-md-8 col-md-offset-2">
    <p class="informative lead">Donate or fundraise for the causes you care about most.</p>
    <p class="informative lead">Choose from over 1 million nonprofits or start a cause of your own.</p>

    <div class="col-md-6 col-md-offset-3">
      <div id="carousel-example-generic" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag 'self1.jpg' %>
            <div class="carousel-caption">
              Self1
            </div>
          </div>

          <div class="item">
            <%= image_tag 'self2.jpg' %>
            <div class="carousel-caption">
              Self2
            </div>
          </div>

          <div class="item">
            <%= image_tag 'self3.jpg' %>
            <div class="carousel-caption">
              Self3
            </div>
          </div>

          <div class="item">
            <%= image_tag 'legs4.jpg' %>
            <div class="carousel-caption">
              legs4
            </div>
          </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
    </div>
  </div>
</div>
