<div id="welcome-page" class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>Cake bonbon sweet roll. Powder bonbon ice cream gingerbread chupa chups tart muffin chocolate. Tart dessert liquorice macaroon tiramisu unerdwear.com macaroon ice cream gingerbread. Marzipan ice cream marzipan.</p>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
  </div>
</div>
<div class="container">
  <div>
    <h2>Staff Picks</h2>
  </div>
</div>
