/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// import original bootstrap
@import "twitter/bootstrap";

body {
  padding-top: 50px;
}

#main_nav {
  opacity: 0.9;
}

#main_footer {
  width: 100%;
}

.brand-logo {
  background: image-url("razoo.png") no-repeat;
  background-position: center;
  text-indent: -999px;
  width: 100px;
 }
