<nav class="navbar navbar-default navbar-static-bottom navbar-inverse" role="navigation">
  <div class="navbar-header">
    <ul class="nav navbar-nav">
      <li><a href="#">Blog</a></li>
      <li><a href="#">Support</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Us</a></li>
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Privacy</a></li>
    </ul>
    <a class="navbar-brand">© 2013 Razoo</a>
  </div>
</nav>

